body
{
	font-family: Verdana,Arial,Sans-serif;
	margin: 7px;
	background: #ADB7C8;
}
table
{
	width: 100%;
	font-size: 11px;
	color: #862424;
}
table#okvir
{
	background-color: #862424;
	width: 850px;
	border: 0px solid #ffffff;
}
table td
{
	padding: 0;
	border-width: 0;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a
{
	color: #AE3A3A;
	text-decoration: none;
	background-color: transparent;
}
a:hover
{
	color: #DC143C;
}
ul
{
	margin: 2px;
	padding: 2px;
	list-style: decimal inside;
	text-align: left;
}
li
{
	margin-left: 2px;
	list-style: square inside;
	color: #2F5376;
}
.item
{
	color: #0D0D0D;
}
.itemHead
{
	color: #2B3F55;
	background-color: #EAEFF4;
	background-image: url('images/brins-houx-012.gif');
	background-repeat: no-repeat;
	background-position:  left 50%;
	padding-left: 20px;
	border-bottom: 1px solid #2B3F55; padding-right:3px; padding-top:3px; padding-bottom:3px
}
.itemInfo
{
	text-align: right;
	padding: 3px;
	background-color: #FFFFFF;
}
.itemTitle a
{
	font-weight: bold;
	font-variant: small-caps;
	color: #BB2F2F;
	background-color: transparent;
}
.itemPoster
{
	font-size: 80%;
	font-style: italic;
}
.itemPostDate
{
	font-size: 80%;
	font-style: italic;
}
.itemStats
{
	font-size: 80%;
	font-style: italic;
}
.itemBody
{
	padding-left: 5px;
}
.itemText
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5em;
}
:first-letter.itemText
{
	font-size: 133%;
	font-weight: bold;
}
.itemFoot
{
	text-align: left;
	padding: 3px;
	background-color: #FFFFFF;
	font-size: 11px;
}
.itemAdminLink
{
	font-size: 90%;
}
.itemPermaLink
{
	font-size: 90%;
}
th
{
	background-color: #CDDCEB;
	color: #004080;
	padding: 2px;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
td#headerbanner
{
	width: 100%;
	background-color: #FAFAFA;
	vertical-align: middle;
}
td#headerbar
{
	height: 29px;
	background-color: transparent;
	color: White;
	line-height: 27px;
	padding-left: 6px;
	padding-right: 7px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
td#headerbar a
{
	color: White;
}
td#headerbar a:hover
{
	color: #FF8040;
}
td#leftcolumn
{
	width: 160px;
	font-size: 11px;
	background-color: transparent;
	background-image: url('images/blok_arka.gif');
}
td#leftcolumn th
{
	vertical-align: bottom;
	border-bottom: 1px dashed #8699B5;
	background-color: transparent;
	color: #BC3F3F;
}
td#leftcolumn div.blockTitle
{
	padding: 5px;
	color: #B22222;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 11px;
	background-color: transparent;
	margin-bottom: 5px;
	background:url('images/tile_back.gif') left; text-align:center; padding-left:5px
}
td#leftcolumn div.blockContent
{
	padding: 2px;
	line-height: 120%;
	line-height: 120%;
	background-color: transparent;
}
td#centercolumn
{
	font-size: 12px;
	color: #464646;
	padding-left: 2px;
	padding-right: 2px;
	width: 100%;
	background-color: White;
}
td#centercolumn th
{
	color: #004080;
	background-color: transparent;
	background-image: url('images/tile_back.gif');
}
td#centerCcolumn div.blockTitle
{
	color: Navy;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 12px;
	padding-left: 30px;
	background-image: url('images/brins-houx-012.gif');
	background-repeat: no-repeat;
	background-position:  left 50%;
	font-style: normal; padding-right:3px; padding-top:3px; padding-bottom:3px
	}
td#centerCcolumn div.blockContent
{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 3px;
	line-height: 120%;
	padding: 10px;
	font-size: 12px;
	color: #0C0F14;
	background-color: White;
	background: White;
}
td#centerLcolumn
{
	width: 50%;
	padding: 0px 0px 0px 0px;
	border-right: 1px solid #F5F5F5;
}
td#centerLcolumn div.blockTitle
{
	color: #B22222;
	font-weight: bold;
	font-size: 11px;
	background-color: White;
	margin-bottom: 5px;
	padding-left: 18px;
	background-image: url('images/tile_back.gif');
	text-align: center; padding-right:3px; padding-top:3px; padding-bottom:3px
}
td#centerLcolumn div.blockContent
{
	margin-right: 0px;
	margin-left: 0px;
	line-height: 120%;
	padding: 2px;
}
td#centerRcolumn
{
	width: 50%;
	padding: 0px 0px 0px 0px;
}
td#centerRcolumn div.blockTitle
{
	color: #B22222;
	font-weight: bold;
	font-size: 12px;
	background-color: White;
	margin-bottom: 5px;
	padding-left: 18px;
	background-image: url('images/tile_back.gif');
	text-align: center; padding-right:3px; padding-top:3px; padding-bottom:3px
}
td#centerRcolumn div.blockContent
{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
	line-height: 120%;
	padding: 2px;
	background-image: url('none');
}
td#rightcolumn
{
	width: 160px;
	font-size: 11px;
	background-color: White;
	background-image: url('images/blok_arka.gif');
}
td#rightcolumn th
{
	vertical-align: bottom;
	border-bottom: 1px dashed #8699B5;
	background-color: transparent;
	color: #00274F;
}
td#rightcolumn div.blockTitle
{
	color: #B22222;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 11px;
	background-color: transparent;
	margin-bottom: 5px;
	padding-left: 8px;
	background-repeat: no-repeat;
	background-image: none;
	background: url('images/tile_back.gif');
	text-align: center; padding-right:5px; padding-top:5px; padding-bottom:5px
}
td#rightcolumn div.blockContent
{
	padding: 2px;
	line-height: 120%;
	line-height: 120%;
	background-color: transparent;
	text-align: center;
	background-image: url('none');
}
td#mainmenu a
{
	color: #CC3A3A;
	font-size: 12px;
	display: block;
	padding: 3px;
	background-image: url('images/bille.gif');
	background-repeat: no-repeat;
	background-position:  left 50%;
	font-weight: bold
}
td#mainmenu a:hover
{
	background-color: transparent;
	color: #FF0000;
}
td#mainmenu a.menuTop
{
	background-color: transparent;
	padding-left: 20px;
}
td#mainmenu a.menuMain
{
	background-color: transparent;
	padding-left: 20px;
}
td#mainmenu a.menuSub
{
	padding-left: 23px;
	color: #9F0000;
	font-weight: normal;
	background-color: transparent;
}
td#usermenu a
{
	display: block;
	margin: 0;
	color: #CC3A3A;
	font-weight: normal;
	font-size: 10px;
	background-image: url('images/btn_bullet.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 11px;
	margin-left: 3px;
	padding-bottom: 2px;
	padding-right: 0px;
}
td#usermenu a:hover
{
	background-color: #CAE9EE;
}
td#usermenu a.highlight
{
	background-color: #fcc;
}
.head
{
	font-weight: bold;
	background-repeat: repeat-x;
	background-position: left;
	color: #373737;
	height: 24px;
	line-height: 22px;
	text-align: center;
	background-color: #DFE2E6;
}
.even
{
	background-color: #F3F4F5;
	padding: 5px;
}
.odd
{
	background-color: #FAFAFA;
	padding: 5px;
}
.foot
{
	padding: 5px;
	font-weight: bold;
}
tr.even td
{
	background-color: transparent;
	padding: 5px;
}
tr.odd td
{
	background-color: transparent;
	padding: 5px;
}
div.errorMsg
{
	background-color: #FFCCCC;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	padding: 10px;
}
div.confirmMsg
{
	background-color: #DDFFDF;
	color: #136C99;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	padding: 10px;
}
div.resultMsg
{
	background-color: #CCCCCC;
	color: #333333;
	text-align: center;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	font-weight: bold;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding: 10px;
}
div.xoopsCode
{
	background: #FFFFFF;
	border: 1px inset #000080;
	font-family: "Courier New",Courier,monospace;
	padding: 0px 6px 6px 6px;
}
div.xoopsQuote
{
	background: #E6E6FA;
	border: 1px inset #000080;
	font-family: "Courier New",Courier,monospace;
	padding: 0px 6px 6px 6px;
}
.comTitle
{
	font-weight: bold;
	margin-bottom: 2px;
}
.comText
{
	padding: 2px;
}
.comUserStat
{
	font-size: 10px;
	color: #2F5376;
	font-weight: bold;
	border: 1px solid silver;
	background-color: #ffffff;
	margin: 2px;
	padding: 2px;
}
.comUserStatCaption
{
	font-weight: normal;
}
.comUserStatus
{
	margin-left: 2px;
	margin-top: 10px;
	color: #2F5376;
	font-weight: bold;
	font-size: 10px;
}
.comUserRank
{
	margin: 2px;
}
.comUserRankText
{
	font-size: 10px;
	font-weight: bold;
}
.comUserRankImg
{
	border: 0px none;
}
.comUserImg
{
	margin: 2px;
}
.comDate
{
	font-weight: normal;
	font-style: italic;
	font-size: smaller;
}
.comDateCaption
{
	font-weight: bold;
	font-style: normal;
}
input
{
	font: 11px verdana, arial, helvetica, sans-serif;
}
textarea
{
	border: 1px solid #8699B5;
	width: 400px;
	font: 11px verdana, arial, helvetica, sans-serif;
	background-color: #F2F4F7;
}
input.formTextBox
{
	border: 1px solid #8699B5;
	background: #F2F4F7;
	font: 11px verdana, arial, helvetica, sans-serif;
}
select
{
	border: 1px solid #8699B5;
	font: 11px verdana, arial, helvetica, sans-serif;
	background-color: #F2F4F7;
}
.vreme
{
	background-color: #8A9FB5;
	padding-top: 5px;
	font-size: 10px;
	color: #FFFFFF;
	vertical-align: middle;
}
form
{
	font-size: 11px;
	color: #787878;
}
.loginlink
{
	background-image: url('images/btn_bullet.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 10px;
}
.button
{
	font-size: 10px;
	color: #000000;
	border: 1px groove #ffffff;
	background-color: #E8E8E8;
	margin-bottom: 1px;
}
.sadrzaj
{
	margin-bottom: 20px;
}
.blok
{
	margin-bottom: 6px;
}
.forum
{
	background-color: #4D6375;
	font-size: 11px;
	font-weight: bold;
	color: #F8F8F8;
	padding: 6px;
}
.forum a
{
	color: #FFFFFF;
}
.forumprvi
{
	background-color: #F7F9FB;
	padding: 3px;
	color: #004080;
}
.forumdrugi
{
	background-color: #EFF3F8;
	padding: 3px;
	color: #004080;
}
.navigacijaforum
{
	background-color: #E3ECF2;
	padding: 5px;
	color: Silver;
	border-top: 1px dashed #333333;
	border-bottom: 1px dashed #333333;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
.gumb
{
	border: 1px outset #ffffff;
	color: #2E2E2E;
	background-color: #E8E8E8;
	border-top: 1px solid #FFFFFF;
}
.border
{
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 3px;
}
.borderdesno
{
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 3px;
}
.download
{
	padding: 10px;
}
.downhead
{
	color: #FFFFFF;
	padding: 5px;
	background-color: #8FA4B8;
}
.downloadsvaki
{
	width: 97%;
	padding: 5px;
}
.tiny
{
	width: 90%;
}
.head_top
{
	color: #00008B;
	background-color: transparent;
	padding: 9px;
}
.menu_top
{
	background-color: #768FA9;
	color: #3C4759;
	text-align: center;
	background-image: url('images/menubot_cat_bg.gif');
	padding: 9px;
	padding-bottom: 11px;
}
.menu_top a
{
	color: #FFFAF0;
	font-weight: bold;
}
.menu_top a:hover
{
	color: #FFF8DC;
}
.menu_top_ura
{
	background-color: #768FA9;
	color: #FFFAF0;
	text-align: right;
	background-image: url('images/menubot_cat_bg.gif');
	padding: 9px;
	padding-bottom: 11px;
}
.head_main
{
	background-color: #ADB7C8;
	color: #FFFFFF;
}
.bok
{
	color: White;
	vertical-align: bottom;
	text-align: right;
	padding-bottom: 3px;
}
.bok a
{
	color: White;
	padding-bottom: 3px;
}
.bok a:hover
{
	color: #FF8000;
}
.privatnost
{
	color: #F0F8FF;
	font-size: 10px;
	text-align: center;
}
.privatnost a
{
	color: #F0FFFF;
}
